.task-form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f7f7f7;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.task-form input[type="text"],
.task-form textarea,
.task-form input[type="date"] {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.task-form textarea {
  resize: vertical;
}

.task-form label {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 5px;
}

.task-form button[type="submit"] {
  padding: 10px 20px;
  background-color: #383838;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

.task-form button[type="submit"]:hover {
  background-color: #7a7a7a;
}

.task-form > * {
  margin-bottom: 10px;
}
